<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/lastfm.css" />
    <script type="text/javascript" src="/libs/jquery.js"></script>
    <script type="text/javascript" src="/libs/lastfm.api.md5.js"></script>
    <script type="text/javascript" src="/js/windows.special.js"></script>
    <script type="text/javascript" src="/coffee-dist/lastfm-login.js"></script>
</head>
<body>
    <form id="js-lastfm-form">
        <input type="text" id="js-lastfm-username" />
        <input type="password" id="js-lastfm-password" />
        <button type="submit">Login</button>
    </form>
</body>
</html>
