<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <script type="text/javascript" src="/libs/jquery.js"></script>
    <script type="text/javascript" src="/js/windows.special.js"></script>
    <script type="text/javascript" src="/coffee-dist/douban-fm-login.js"></script>
</head>
<body>
    <div class="drag"></div>
    <form id="js-login-form">
        <input type="text" id="js-username" name="username" placeholder="EMAIL" />
        <input type="password" id="js-password" name="password" placeholder="PASSWORD" />
        <button type="submit">LOGIN</button>
    </form>
    <div id="js-loading" class="loading hide"></div>
    <div id="js-nacl">
        <embed name="nacl_module" id="js-encrypt" width="0" height="0" src="/plugins/encrypt.nmf" type="application/x-nacl" />
    </div>
</body>
</html>
